<div class="row">
  <div class="col-md-6 col-xl-4">
    <%= form_with(model: [:quiz, question]) do |form| %>
      <div class="d-grid gap-3">
        <% if question.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(question.errors.count, "error") %> prohibited this review from being saved:</h2>

            <ul>
              <% question.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= form.text_area :content, class: 'form-control border' %>
        </div>

        <button type="button" id="add_new_answer_button" class="">New answer</button>

        <ul id="quiz_answers_list">
          <li>
            <%= form.text_field :answers, placeholder: "answer", name: "question[answers][]", class: "border" %>
            <%= form.check_box :correct_answers, name: "question[correct_answers][]", class: "border" %>
          </li>
        </ul>

        <div class="actions">
          <%= form.submit class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>