<div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5">
  <% @quizzes.each do |quiz| %>
    <div class="rounded overflow-hidden shadow-lg">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2"><%= quiz.title %></div>
        <p class="text-gray-700 text-base">
          <%= quiz.description %>
        </p>
      </div>
      <div class="px-6 pt-2 pb-5">
        <div class="flex space-x-2 justify-center">
          <%= link_to t("actions.show"), quiz_path(quiz), class:"px-3 py-2 border-2 border-black text-black text-xs leading-tight uppercase rounded-full hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out" %>
          <%= link_to t("actions.edit"), edit_quiz_path(quiz), class:"px-3 py-2 border-2 border-green-600 text-green-600 text-xs leading-tight uppercase rounded-full hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out" %>
          <%= link_to t("actions.destroy"), quiz_path(quiz),  method: :delete, data: { confirm: t("are_you_sure") }, class:"inline-block px-3 py-2 bg-red-600 text-white text-xs leading-tight uppercase rounded-full shadow-md hover:bg-red-700 hover:shadow-lg focus:bg-red-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-800 active:shadow-lg transition duration-150 ease-in-out" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="flex space-x-2 justify-center">
  <%= link_to t("quizzes.new_quiz"), new_quiz_path, class:"inline-block px-6 py-2.5 border-2 border-black text-black font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out m-5" %>
</div>
