<h1>This is show page</h1>

<p><strong>Title: </strong><%= @quiz.title %></p>
<p><strong>Description: </strong><%= @quiz.description %></p>

<p>
  <%= link_to 'Return to all quizzes', quizzes_path %>
</p>
<p>
  <%= link_to 'Edit', edit_quiz_path(@quiz) %>
</p>
<p>
  <%= link_to 'Delete', quiz_path(@quiz),  method: :delete, data: { confirm: "Are you sure?" } %>
</p>